### Data Exploration and Cleaning

Importing related libraries and read the file.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Job_Tweets.csv')
df.head()

,ID,Timestamp,User,Text,Hashtag,Retweets,Likes,Replies,Source,Location,Verified_Account,Followers,Following
0,1211798864656769025,2019-12-30 23:58:58+00:00,SipapuNM,Looking for an exciting job where you can ski ...,NaN,0,1,0,"<a href=""http://instagram.com"" rel=""nofollow"">...","20 miles SE of Taos, NM",False,3342,258
1,1211797371853705220,2019-12-30 23:53:02+00:00,LorettaOD1,Hail in Phoenix - no way! New opportunity at ...,['job'],0,0,0,"<a href=""http://jobvite.com"" rel=""nofollow"">Jo...",Arizona,False,63,129
2,1211795775363145728,2019-12-30 23:46:41+00:00,guajardo_celina,Rackspace is hiring! We are looking for Nation...,"['becomearacker', 'Rackspace', 'recruiting', '...",0,0,0,"<a href=""http://jobvite.com"" rel=""nofollow"">Jo...","Texas, USA",False,19,50
3,1211793355060981767,2019-12-30 23:37:04+00:00,SteveEckert_OTD,We are #hiring Administrative Assistant in Nan...,"['hiring', 'jobs', 'Nanuet']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...","Orange County, California",False,966,1569
4,1211792689022349315,2019-12-30 23:34:25+00:00,HireLive,We are #hiring Family Service Counselor in Irv...,"['hiring', 'jobs', 'Irvine']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...",United States,False,983,1251

In [3]:
# list all column names in the dataset
list(df.columns)

['ID',
 'Timestamp',
 'User',
 'Text',
 'Hashtag',
 'Retweets',
 'Likes',
 'Replies',
 'Source',
 'Location',
 'Verified_Account',
 'Followers',
 'Following']

In [4]:
# to check dimensions of the dataset
print("Dimensions of the dataset:")
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Dimensions of the dataset:
Number of rows: 50000
Number of columns: 13

In [5]:
# to get a summary of data types and non-null values
print("Summary of data types and non-null values:")
df.info()

Summary of data types and non-null values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                50000 non-null  int64
 1   Timestamp         50000 non-null  object
 2   User              50000 non-null  object
 3   Text              50000 non-null  object
 4   Hashtag           40684 non-null  object
 5   Retweets          50000 non-null  int64
 6   Likes             50000 non-null  int64
 7   Replies           50000 non-null  int64
 8   Source            50000 non-null  object
 9   Location          44011 non-null  object
 10  Verified_Account  50000 non-null  bool
 11  Followers         50000 non-null  int64
 12  Following         50000 non-null  int64
dtypes: bool(1), int64(6), object(6)
memory usage: 4.6+ MB

In [6]:
# convert data type of user ID from int to object
df["ID"] = df["ID"].astype(object)
df.dtypes

ID                  object
Timestamp           object
User                object
Text                object
Hashtag             object
Retweets             int64
Likes                int64
Replies              int64
Source              object
Location            object
Verified_Account      bool
Followers            int64
Following            int64
dtype: object

In [7]:
# to calculate the basic statistics for numerical columns
print("Basic statistics for numerical columns:")
df.describe()

Basic statistics for numerical columns:

           Retweets         Likes       Replies     Followers      Following
count  50000.000000  50000.000000  50000.000000  5.000000e+04   50000.000000
mean       0.692100      1.347860      0.108920  5.511382e+03    1961.965460
std        7.441484     17.527216      1.276483  6.770825e+04    5847.789338
min        0.000000      0.000000      0.000000  0.000000e+00       0.000000
25%        0.000000      0.000000      0.000000  8.000000e+01      94.000000
50%        0.000000      0.000000      0.000000  2.980000e+02     331.000000
75%        0.000000      0.000000      0.000000  1.258000e+03    1076.000000
max     1016.000000   1677.000000    175.000000  5.226473e+06  310791.000000

In [8]:
# describing categorical data
df.describe(include='object')

,ID,Timestamp,User,Text,Hashtag,Source,Location
count,50000,50000,50000,50000,40684,50000,44011
unique,50000,46795,13715,46507,14227,261,5973
top,1636315580528574467,2019-12-19 20:00:27+00:00,cameroncraig,We generally enjoy and are satisfied by being ...,"['hiring', 'jobs', 'Houston']","<a href=""http://www.ziprecruiter.com"" rel=""nof...",United States
freq,1,8,2513,134,792,21888,3504

In [9]:
# to check for any missing values
missing_values = df.isnull().sum()
print("Missing Values:")
print(missing_values)

Missing Values:
ID                     0
Timestamp              0
User                   0
Text                   0
Hashtag             9316
Retweets               0
Likes                  0
Replies                0
Source                 0
Location            5989
Verified_Account       0
Followers              0
Following              0
dtype: int64

In [10]:
missing_values = df.dropna()
df = missing_values
missing_values = df.isnull().sum() # count number of missing values again
print("Missing Values:")
print(missing_values)

Missing Values:
ID                  0
Timestamp           0
User                0
Text                0
Hashtag             0
Retweets            0
Likes               0
Replies             0
Source              0
Location            0
Verified_Account    0
Followers           0
Following           0
dtype: int64

In [11]:
# to identify any duplicated rows in the dataset
duplicate_rows = df.duplicated()
duplicate_rows

1        False
2        False
3        False
4        False
5        False
         ...
49993    False
49995    False
49996    False
49997    False
49998    False
Length: 36632, dtype: bool

In [12]:
# to count the number of duplicated rows
num_duplicates = sum(duplicate_rows)
print(num_duplicates)

0

In [13]:
# to display unique values in each column to identify categorical variables
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in {column}:")
    print(unique_values)
    print()

Unique values in ID:
[1211797371853705220 1211795775363145728 1211793355060981767 ...
 1636306593858871297 1636305111726141440 1636304982768066561]

Unique values in Timestamp:
['2019-12-30 23:53:02+00:00' '2019-12-30 23:46:41+00:00'
 '2019-12-30 23:37:04+00:00' ... '2023-03-16 10:01:07+00:00'
 '2023-03-16 09:55:14+00:00' '2023-03-16 09:54:43+00:00']

Unique values in User:
['LorettaOD1' 'guajardo_celina' 'SteveEckert_OTD' ... 'movmn'
 'babelsblessing' 'SSARecruit']

Unique values in Text:
['Hail in Phoenix - no way!  New opportunity at Freedom? Possibly. We are hiring a(n) Reconciliation Specialist II and would like to talk to you!\nhttps://t.co/CFAKKQHeFJ #job'
 'Rackspace is hiring! We are looking for National Partner Manager. Learn more or Jobvite a friend. #becomearacker #Rackspace #recruiting #talentacquisition #jobsearching\nhttps://t.co/XuSMG0eSgs #job'
 'We are #hiring Administrative Assistant in Nanuet, NY https://t.co/3IGxFiCXUI #jobs #Nanuet'
 ...
 "A lovely review from one of our wonderful candidates ðŸ’•\n\nIt's heart-warming reviews like this, that make us love our jobs even more, as we are here to make a difference âœ¨\n\n#SSADigital #Recruitment #Hiring #Review https://t.co/En3UQHu7GO"
 'We are #hiring Automotive Service Advisor Writer in Grayling, MI https://t.co/r52DOaqMRS #jobs #Grayling'
 'We are #hiring Automotive Sales Consultant in Grayling, MI https://t.co/FsVlBkNmmd #jobs #Grayling']

Unique values in Hashtag:
["['job']"
 "['becomearacker', 'Rackspace', 'recruiting', 'talentacquisition', 'jobsearching', 'job']"
 "['hiring', 'jobs', 'Nanuet']" ...
 "['hiring', 'jobs', 'vacancy', 'jobsearch']"
 "['projectcoordinator', 'london', 'jobs']"
 "['SSADigital', 'Recruitment', 'Hiring', 'Review']"]

Unique values in Retweets:
[  0   1   4   8   3   2  15   5   6   7  11  55   9 120  12  19  16  47
  17  33  37  13  10  23  20  89  22  25  38  14  21  72  63  27 223  28
  24  42  39  32  34  43  54  26 119 142 151  48 718 154  18 338  36  77]

Unique values in Likes:
[   0    1    2   13    3   11    6    4    5   24    7    8   18   25
   47   10    9   12   19  101   14   20   41   45  174   38   16   26
   31   28   37   15  112   22   51   39   17   90   77  119   55  126
   23   59   49  338   32   35   71   52   27   44   50   30   54   29
   96   36   34  125  105   21  140  377  618   57   72   48 1285   64
   43   68  198   33  870  440   67  334  165  162   40]

Unique values in Replies:
[  0   1   2   3   8   4  37   5  21   7  12  11  24  10  72  19  15  39
  29  18   6  44 175  26  49  20   9  14]

Unique values in Source:
['<a href="http://jobvite.com" rel="nofollow">Jobvite</a>'
 '<a href="http://www.ziprecruiter.com" rel="nofollow">ZipRecruiter Post Jobs</a>'
 '<a href="http://instagram.com" rel="nofollow">Instagram</a>'
 '<a href="https://social.zoho.com" rel="nofollow">Zoho Social</a>'
 '<a href="https://www.mightyrecruiter.com" rel="nofollow">MightyRecruiter</a>'
 '<a href="https://dlvrit.com/" rel="nofollow">dlvr.it</a>'
 '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>'
 '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>'
 '<a href="https://buffer.com" rel="nofollow">Buffer</a>'
 '<a href="https://www.hootsuite.com" rel="nofollow">Hootsuite Inc.</a>'
 '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>'
 '<a href="http://www.hubspot.com/" rel="nofollow">HubSpot</a>'
 '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>'
 '<a href="https://vacancymail.co.zw/" rel="nofollow">VacancyMail</a>'
 '<a href="http://www.linkedin.com/" rel="nofollow">LinkedIn</a>'
 '<a href="https://app.planable.io" rel="nofollow">Planable</a>'
 '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>'
 '<a href="http://www.servisourcejobs.com" rel="nofollow">Servisource Jobs</a>'
 '<a href="https://app.socialpilot.co/" rel="nofollow">SocialPilot.co</a>'
 '<a href="https://fanbooster.com" rel="nofollow">Fanbooster by Traject</a>'
 '<a href="https://sproutsocial.com" rel="nofollow">Sprout Social</a>'
 '<a href="https://app.sendible.com" rel="nofollow">Sendible</a>'
 '<a href="https://ifttt.com" rel="nofollow">IFTTT</a>'
 '<a href="https://www.socialoomph.com" rel="nofollow">SocialOomph</a>'
 '<a href="https://app.agorapulse.com" rel="nofollow">Agorapulse app</a>'
 '<a href="https://naukrilatest.com" rel="nofollow">NaukriLatest.com</a>'
 '<a href="http://postplanner.com" rel="nofollow">Post Planner LLC</a>'
 '<a href="https://zapier.com/" rel="nofollow">Zapier.com</a>'
 '<a href="http://pardot.com" rel="nofollow">Pardot</a>'
 '<a href="https://postcron.com" rel="nofollow">Postcron App</a>'
 '<a href="https://www.loomly.com/" rel="nofollow">Loomly</a>'
 '<a href="https://trac.systems" rel="nofollow">Trac Jobs</a>'
 '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>'
 '<a href="https://www.heyorca.com" rel="nofollow">HeyOrca</a>'
 '<a href="http://www.salesforce.com" rel="nofollow">Salesforce - Social Studio</a>'
 '<a href="https://www.semrush.com/" rel="nofollow">Semrush Social Media Tool</a>'
 '<a href="http://workfor.us/jobboard" rel="nofollow">Work For Us</a>'
 '<a href="https://coschedule.com" rel="nofollow">CoSchedule</a>'
 '<a href="https://www.meltwater.com/" rel="nofollow">Meltwater Social</a>'
 '<a href="https://lightful.com" rel="nofollow">Lightful</a>'
 '<a href="https://ads.twitter.com" rel="nofollow">Twitter Ads</a>'
 '<a href="https://eclincher.com" rel="nofollow">eClincher</a>'
 '<a href="https://www.later.com" rel="nofollow">LaterMedia</a>'
 '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>'
 '<a href="https://www.getjobs.com" rel="nofollow">GetJobsZw</a>'
 '<a href="https://ads-api.twitter.com" rel="nofollow">Twitter for Advertisers.</a>'
 '<a href="http://twibble.io" rel="nofollow">Twibble.io</a>'
 '<a href="http://www.oneupapp.io" rel="nofollow">OneUp App</a>'
 '<a href="https://github.com/dudewith3faces" rel="nofollow">abothasnoface</a>'
 '<a href="http://www.falcon.io" rel="nofollow">Brandwatch</a>'
 '<a href="https://smarterqueue.com" rel="nofollow">SmarterQueue</a>'
 '<a href="http://dynamicsignal.com/" rel="nofollow">Dynamic Signal</a>'
 '<a href="http://www.example.com" rel="nofollow">Mr. Advisor</a>'
 '<a href="https://www.just.jobs" rel="nofollow">Just Dot Jobs</a>'
 '<a href="http://www.adicio.com/" rel="nofollow">Social Distribution</a>'
 '<a href="https://contentstudio.io" rel="nofollow">ContentStudio.io</a>'
 '<a href="http://publicize.wp.com/" rel="nofollow">Jetpack.com</a>'
 '<a href="http://socialfive.com" rel="nofollow">Social5</a>'
 '<a href="https://twitter.facelift-cloud.com/" rel="nofollow">Facelift-Cloud</a>'
 '<a href="https://www.oktopost.com" rel="nofollow">Oktopost</a>'
 '<a href="https://studio.twitter.com" rel="nofollow">Twitter Media Studio</a>'
 '<a href="https://www.ripl.com" rel="nofollow">Ripl App</a>'
 '<a href="http://usjobsandcareers.com/" rel="nofollow">US Jobs and Careers</a>'
 '<a href="https://www.relevantjobs.com/" rel="nofollow">Relevant Jobs Poster</a>'
 '<a href="https://www.spredfast.com" rel="nofollow">Khoros Publishing App</a>'
 '<a href="http://social.icims.com" rel="nofollow">iCIMS Social Distribution</a>'
 '<a href="https://adobe.com/express" rel="nofollow">Adobe Express (old)</a>'
 '<a href="http://directory.engineeringdaily.net" rel="nofollow">Engineering Daily </a>'
 '<a href="http://hearsaysystems.com" rel="nofollow">Hearsay Social</a>'
 '<a href="https://prod1.sprinklr.com" rel="nofollow">Sprinklr Publishing</a>'
 '<a href="http://www.universelisting.com" rel="nofollow">Free Classifieds</a>'
 '<a href="http://itunes.apple.com/us/app/twitter/id409789998?mt=12" rel="nofollow">Twitter for Mac</a>'
 '<a href="https://publer.io" rel="nofollow">Publer.io</a>'
 '<a href="https://www.spredfast.com/" rel="nofollow">Khoros Publishing</a>'
 '<a href="https://metricool.com" rel="nofollow">Metricool</a>'
 '<a href="http://www.socialflow.com" rel="nofollow">SocialFlow</a>'
 '<a href="https://ifsocial.com/" rel="nofollow">ifSocial - Deliver Media</a>'
 '<a href="https://www.sprinklr.com/" rel="nofollow">Powered by Sprinklr</a>'
 '<a href="https://twitter.com" rel="nofollow">Twitter for Advertisers</a>'
 '<a href="https://www.campaign3.com" rel="nofollow">Campaign Share</a>'
 '<a href="https://app.socialhub.io/" rel="nofollow">SocialHub by maloon</a>'
 '<a href="https://CampaignDirector.myconnectwise.net" rel="nofollow">ConnectWise CampaignDirector</a>'
 '<a href="https://www.canva.com" rel="nofollow">Canva</a>'
 '<a href="https://revive.social/" rel="nofollow">Revive Social App</a>'
 '<a href="http://www.socialbakers.com/" rel="nofollow">Emplifi</a>'
 '<a href="https://zlappo.com" rel="nofollow">Zlappo.com</a>'
 '<a href="https://dashboard.godaddy.com" rel="nofollow">GoDaddy Social App</a>'
 '<a href="https://www.tweetedtimes.com" rel="nofollow">The Tweeted Times</a>'
 '<a href="https://prod2.sprinklr.com" rel="nofollow">Sprinklr Publisher</a>'
 '<a href="https://moa.party" rel="nofollow">Moa Bridge</a>'
 '<a href="http://www.boxwoodtech.com" rel="nofollow">CareerCenter</a>'
 '<a href="https://sociality.io/" rel="nofollow">Sociality.io</a>'
 '<a href="https://www.sprinklr.com" rel="nofollow">Sprinklr</a>'
 '<a href="https://www.meetsoci.com" rel="nofollow">SOCi </a>'
 '<a href="https://www.rssground.com" rel="nofollow">RSS Ground</a>'
 '<a href="https://www.contentmx.com" rel="nofollow">ContentMX</a>'
 '<a href="https://www.sharpspring.com" rel="nofollow">Constant Contact - LeadGen&CRM</a>'
 '<a href="https://promo.com" rel="nofollow">Promo.com</a>'
 '<a href="https://conte.ai" rel="nofollow">Conte.ai</a>'
 '<a href="https://www.blog2social.com" rel="nofollow">Blog2Social APP</a>'
 '<a href="http://www.rallio.com" rel="nofollow">Rallio</a>'
 '<a href="https://www.tumblr.com/" rel="nofollow">Tumblr</a>'
 '<a href="https://app.clearviewsocial.com" rel="nofollow">Clearview Social, Inc.</a>'
 '<a href="https://soampli.com/" rel="nofollow">SoAmpli App</a>'
 '<a href="https://orlo.tech" rel="nofollow">Orlo</a>'
 '<a href="https://metigy.com/" rel="nofollow">Metigy</a>'
 '<a href="http://crowdcontrolhq.com/" rel="nofollow">SoCrowd</a>'
 '<a href="https://www.planoly.com" rel="nofollow">PLANOLY</a>'
 '<a href="http://www.mailchimp.com" rel="nofollow">Mailchimp</a>'
 '<a href="https://www.make.com" rel="nofollow">Make (formerly Integromat)</a>'
 '<a href="http://erased22638509_oR8JEhR2LM.com" rel="nofollow">erased22638509_oR8JEhR2LM</a>'
 '<a href="https://www.grapevine6.com" rel="nofollow">LiveSocial Regulated</a>'
 '<a href="https://paiger.co" rel="nofollow">Paiger 2</a>'
 '<a href="https://socialbee.com/" rel="nofollow">SocialBee</a>'
 '<a href="http://gainapp.com" rel="nofollow">Gain Platform</a>'
 '<a href="https://www.constantcontact.com/" rel="nofollow">Constant Contact - Social Posts</a>'
 '<a href="https://twitter.com" rel="nofollow">TweetDeck Web App</a>'
 '<a href="https://help.twitter.com/en/using-twitter/how-to-tweet#source-labels" rel="nofollow">BismarckApp</a>'
 '<a href="https://www.echobox.com" rel="nofollow">Echobox</a>'
 '<a href="https://dynamics.microsoft.com" rel="nofollow">Dynamics 365 for Marketing</a>'
 '<a href="http://www.reputationmailer.com/privacy/" rel="nofollow">Social Reputation</a>'
 '<a href="http://tapbots.com/tweetbot" rel="nofollow">Tweetbot for iÎŸS</a>'
 '<a href="http://travelmediagroup.com" rel="nofollow">TMG-OneView</a>'
 '<a href="http://storychief.io" rel="nofollow">Story Chief</a>'
 '<a href="http://meetedgar.com" rel="nofollow">MeetEdgar</a>'
 '<a href="https://dashboard.heropost.io/" rel="nofollow">Heropost</a>'
 '<a href="http://www.powerapps.com" rel="nofollow">Microsoft Power Platform</a>'
 '<a href="https://socialpost.cc/" rel="nofollow">SocialPost App</a>'
 '<a href="https://help.twitter.com/en/using-twitter/how-to-tweet#source-labels" rel="nofollow">paghdjobs</a>'
 '<a href="https://amplifr.com" rel="nofollow">Amplifr</a>'
 '<a href="http://platform.social" rel="nofollow">SocialModo</a>'
 '<a href="https://www.willow.co" rel="nofollow">Willow Social Media</a>'
 '<a href="http://www.socialnewsdesk.com" rel="nofollow">SocialNewsDesk</a>'
 '<a href="https://promorepublic.com" rel="nofollow">PromoRepublic</a>'
 '<a href="https://help.twitter.com/en/using-twitter/how-to-tweet#source-labels" rel="nofollow">growremotely</a>'
 '<a href="http://smarp.com" rel="nofollow">Smarp.</a>'
 '<a href="https://refari.co/" rel="nofollow">Refari</a>'
 '<a href="http://slacksocial.com" rel="nofollow">SlackSocial</a>'
 '<a href="https://postly.ai" rel="nofollow">Postly Social</a>'
 '<a href="https://cloudcampaign.io/" rel="nofollow">Cloud Campaign</a>'
 '<a href="http://www.everyonesocial.com" rel="nofollow">EveryoneSocial</a>'
 '<a href="https://ingoedebanen.nl/" rel="nofollow">Vacatures via InGoedeBanen.nl</a>'
 '<a href="https://jainsusa.com/" rel="nofollow">Jain Irrigation USA</a>'
 '<a href="https://stocktwits.com" rel="nofollow">StockTwits Web</a>'
 '<a href="https://zobjobs.com" rel="nofollow">zUS2</a>'
 '<a href="https://zobjobs.com" rel="nofollow">zGB2</a>'
 '<a href="https://www.hopperhq.com/" rel="nofollow">Hopper HQ</a>'
 '<a href="https://pipedream.com" rel="nofollow">Pipedream, Inc</a>'
 '<a href="http://www.careerarc.com" rel="nofollow">CareerArc App</a>'
 '<a href="https://www.careerarc.com" rel="nofollow">CareerArc 2.0</a>'
 '<a href="https://r4e-social-oauth.reputation.com/" rel="nofollow">Reputation.com-Social</a>'
 '<a href="https://flamepost.com" rel="nofollow">FlamePost</a>'
 '<a href="https://netsocialapp.com" rel="nofollow">NetSocialApp</a>'
 '<a href="https://zobjobs.com" rel="nofollow">zCA2</a>'
 '<a href="https://www.arubaito.io" rel="nofollow">arubaito_job_poster</a>'
 '<a href="https://crowdfireapp.com" rel="nofollow">Crowdfire App</a>'
 '<a href="http://www.coosto.com" rel="nofollow">Coosto</a>'
 '<a href="http://www.khaltura.com/" rel="nofollow">khaltura.com</a>'
 '<a href="https://paiger.co" rel="nofollow">Paiger</a>'
 '<a href="https://www.mustakbil.com" rel="nofollow">Mustakbil</a>'
 '<a href="https://www.thryv.com/" rel="nofollow">Thryv</a>'
 '<a href="https://www.radaar.io/" rel="nofollow">RADAAR</a>'
 '<a href="http://postbeyond.com" rel="nofollow">PostBeyond</a>'
 '<a href="https://www.kontentino.com" rel="nofollow">Kontentino</a>'
 '<a href="https://workforcenow.adp.com/workforcenow/login.html" rel="nofollow">WorkForceNow</a>'
 '<a href="http://www.greenhouse.io" rel="nofollow">Greenhouse.io</a>'
 '<a href="https://getbambu.com" rel="nofollow">Advocacy by Sprout Social</a>'
 '<a href="https://www.wearehiring.io" rel="nofollow">wearehiring</a>'
 '<a href="https://hiplayapp.com" rel="nofollow">Hiplay</a>'
 '<a href="https://www.fs-poster.com" rel="nofollow">GT Auto-Poster</a>'
 '<a href="https://help.twitter.com/en/using-twitter/how-to-tweet#source-labels" rel="nofollow">MeetAlfred</a>'
 '<a href="https://pallyy.com" rel="nofollow">Pallyy</a>'
 '<a href="https://simplified.com" rel="nofollow">Simplified One App</a>'
 '<a href="https://recurpost.com" rel="nofollow">recurpost.com</a>'
 '<a href="https://zymplify.com" rel="nofollow">Zymplify</a>'
 '<a href="http://erased8155444_R6xFGhObhn.com" rel="nofollow">erased8155444_R6xFGhObhn</a>'
 '<a href="https://dev-senalysis.spillover.com" rel="nofollow">Senalysis-dev</a>'
 '<a href="https://apptegy.com" rel="nofollow">Thrillshare</a>'
 '<a href="https://www.socialchamp.io" rel="nofollow">SocialChamp IO </a>'
 '<a href="https://www.ocoya.net" rel="nofollow">Ocoya</a>'
 '<a href="https://vistasocial.com" rel="nofollow">Vista Social</a>'
 '<a href="https://app.scompler.com/" rel="nofollow">Scompler</a>'
 '<a href="https://twittimer.com" rel="nofollow">Twittimer</a>'
 '<a href="https://skedsocial.com" rel="nofollow">Sked Social</a>']

Unique values in Location:
['Arizona' 'Texas, USA' 'Orange County, California' ... 'TÃ¤by' 'Italia'
 'Innovation Centre, Silverstone']

Unique values in Verified_Account:
[False  True]

Unique values in Followers:
[   63    19   966 ... 28006  2173  6533]

Unique values in Following:
[ 129   50 1569 ... 1864 6476 6254]

<br>

### Data Labeling

Install and import related libraries

In [28]:
#pip install textblob

In [29]:
#pip install vaderSentiment

In [30]:
#pip install flair

In [32]:
#pip install transformers

Installations are successful. Now, let's proceed to do sentiment analysis using TextBlob.

In [25]:
import torch
from tweepy import OAuthHandler
from textblob import TextBlob
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from transformers import pipeline
from flair.models import TextClassifier
from flair.data import Sentence

c:\Users\Rasyiqah Rais\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [26]:
#selecting column 'Text' to do sentiment analysis and display in DataFrame
df_text = pd.DataFrame(df['Text'])
df_text.head()

                                                Text
1  Hail in Phoenix - no way!  New opportunity at ...
2  Rackspace is hiring! We are looking for Nation...
3  We are #hiring Administrative Assistant in Nan...
4  We are #hiring Family Service Counselor in Irv...
5  We are #hiring Inside Sales Representative in ...

<br>

In [27]:
# Applying TextBlob
df['text_blob'] = df['Text'].apply(lambda x: TextBlob(x).sentiment)
df.head()

,ID,Timestamp,User,Text,Hashtag,Retweets,Likes,Replies,Source,Location,Verified_Account,Followers,Following,text_blob
1,1211797371853705220,2019-12-30 23:53:02+00:00,LorettaOD1,Hail in Phoenix - no way! New opportunity at ...,['job'],0,0,0,"<a href=""http://jobvite.com"" rel=""nofollow"">Jo...",Arizona,False,63,129,"(0.06818181818181818, 0.7272727272727273)"
2,1211795775363145728,2019-12-30 23:46:41+00:00,guajardo_celina,Rackspace is hiring! We are looking for Nation...,"['becomearacker', 'Rackspace', 'recruiting', '...",0,0,0,"<a href=""http://jobvite.com"" rel=""nofollow"">Jo...","Texas, USA",False,19,50,"(0.5, 0.5)"
3,1211793355060981767,2019-12-30 23:37:04+00:00,SteveEckert_OTD,We are #hiring Administrative Assistant in Nan...,"['hiring', 'jobs', 'Nanuet']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...","Orange County, California",False,966,1569,"(0.0, 0.0)"
4,1211792689022349315,2019-12-30 23:34:25+00:00,HireLive,We are #hiring Family Service Counselor in Irv...,"['hiring', 'jobs', 'Irvine']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...",United States,False,983,1251,"(0.0, 0.0)"
5,1211792528388841473,2019-12-30 23:33:47+00:00,HireLive,We are #hiring Inside Sales Representative in ...,"['hiring', 'jobs', 'Irvine']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...",United States,False,983,1251,"(0.0, 0.0)"

In [28]:
df_text_blob = pd.DataFrame(df['text_blob'])
df_text_blob.head()

                                   text_blob
1  (0.06818181818181818, 0.7272727272727273)
2                                 (0.5, 0.5)
3                                 (0.0, 0.0)
4                                 (0.0, 0.0)
5                                 (0.0, 0.0)

In [29]:
# Placing 'Text' and text_blob side by side
blob_analysis = df[['Text','text_blob']]
blob_analysis.head()

,Text,text_blob
1,Hail in Phoenix - no way! New opportunity at ...,"(0.06818181818181818, 0.7272727272727273)"
2,Rackspace is hiring! We are looking for Nation...,"(0.5, 0.5)"
3,We are #hiring Administrative Assistant in Nan...,"(0.0, 0.0)"
4,We are #hiring Family Service Counselor in Irv...,"(0.0, 0.0)"
5,We are #hiring Inside Sales Representative in ...,"(0.0, 0.0)"

<br> Let's do sentiment analysis using Vader.

In [30]:
# Applying Vader
analyzer = SentimentIntensityAnalyzer()
df['text_vader'] = df['Text'].apply(lambda x: analyzer.polarity_scores(x))
df.head()

,ID,Timestamp,User,Text,Hashtag,Retweets,Likes,Replies,Source,Location,Verified_Account,Followers,Following,text_blob,text_vader
1,1211797371853705220,2019-12-30 23:53:02+00:00,LorettaOD1,Hail in Phoenix - no way! New opportunity at ...,['job'],0,0,0,"<a href=""http://jobvite.com"" rel=""nofollow"">Jo...",Arizona,False,63,129,"(0.06818181818181818, 0.7272727272727273)","{'neg': 0.062, 'neu': 0.618, 'pos': 0.32, 'com..."
2,1211795775363145728,2019-12-30 23:46:41+00:00,guajardo_celina,Rackspace is hiring! We are looking for Nation...,"['becomearacker', 'Rackspace', 'recruiting', '...",0,0,0,"<a href=""http://jobvite.com"" rel=""nofollow"">Jo...","Texas, USA",False,19,50,"(0.5, 0.5)","{'neg': 0.0, 'neu': 0.863, 'pos': 0.137, 'comp..."
3,1211793355060981767,2019-12-30 23:37:04+00:00,SteveEckert_OTD,We are #hiring Administrative Assistant in Nan...,"['hiring', 'jobs', 'Nanuet']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...","Orange County, California",False,966,1569,"(0.0, 0.0)","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,1211792689022349315,2019-12-30 23:34:25+00:00,HireLive,We are #hiring Family Service Counselor in Irv...,"['hiring', 'jobs', 'Irvine']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...",United States,False,983,1251,"(0.0, 0.0)","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
5,1211792528388841473,2019-12-30 23:33:47+00:00,HireLive,We are #hiring Inside Sales Representative in ...,"['hiring', 'jobs', 'Irvine']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...",United States,False,983,1251,"(0.0, 0.0)","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [31]:
df_text_vader = pd.DataFrame(df['text_vader'])
df_text_vader.head()

                                          text_vader
1  {'neg': 0.062, 'neu': 0.618, 'pos': 0.32, 'com...
2  {'neg': 0.0, 'neu': 0.863, 'pos': 0.137, 'comp...
3  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
4  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
5  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...

In [32]:
# Placing 'Text' and text_vader side by side
vader_analysis = df[['Text','text_vader']]
vader_analysis.head()

,Text,text_vader
1,Hail in Phoenix - no way! New opportunity at ...,"{'neg': 0.062, 'neu': 0.618, 'pos': 0.32, 'com..."
2,Rackspace is hiring! We are looking for Nation...,"{'neg': 0.0, 'neu': 0.863, 'pos': 0.137, 'comp..."
3,We are #hiring Administrative Assistant in Nan...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,We are #hiring Family Service Counselor in Irv...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
5,We are #hiring Inside Sales Representative in ...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

Let's do sentiment analysis using flair.

In [33]:
# Applying flair
classifier = TextClassifier.load('en-sentiment')
sentences = [Sentence(text) for text in df['Text']]
classifier.predict(sentences)
df['text_flair'] = [sentence.labels[0].value for sentence in sentences]
df.head()

2024-12-14 16:15:45,316 https://nlp.informatik.hu-berlin.de/resources/models/sentiment-curated-distilbert/sentiment-en-mix-distillbert_4.pt not found in cache, downloading to C:\Users\RASYIQ~1\AppData\Local\Temp\tmpejencaa9

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 253M/253M [00:16<00:00, 15.9MB/s]

2024-12-14 16:16:02,913 copying C:\Users\RASYIQ~1\AppData\Local\Temp\tmpejencaa9 to cache at C:\Users\Rasyiqah Rais\.flair\models\sentiment-en-mix-distillbert_4.pt

2024-12-14 16:16:03,386 removing temp file C:\Users\RASYIQ~1\AppData\Local\Temp\tmpejencaa9

,ID,Timestamp,User,Text,Hashtag,Retweets,Likes,Replies,Source,Location,Verified_Account,Followers,Following,text_blob,text_vader,text_flair
1,1211797371853705220,2019-12-30 23:53:02+00:00,LorettaOD1,Hail in Phoenix - no way! New opportunity at ...,['job'],0,0,0,"<a href=""http://jobvite.com"" rel=""nofollow"">Jo...",Arizona,False,63,129,"(0.06818181818181818, 0.7272727272727273)","{'neg': 0.062, 'neu': 0.618, 'pos': 0.32, 'com...",NEGATIVE
2,1211795775363145728,2019-12-30 23:46:41+00:00,guajardo_celina,Rackspace is hiring! We are looking for Nation...,"['becomearacker', 'Rackspace', 'recruiting', '...",0,0,0,"<a href=""http://jobvite.com"" rel=""nofollow"">Jo...","Texas, USA",False,19,50,"(0.5, 0.5)","{'neg': 0.0, 'neu': 0.863, 'pos': 0.137, 'comp...",POSITIVE
3,1211793355060981767,2019-12-30 23:37:04+00:00,SteveEckert_OTD,We are #hiring Administrative Assistant in Nan...,"['hiring', 'jobs', 'Nanuet']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...","Orange County, California",False,966,1569,"(0.0, 0.0)","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",NEGATIVE
4,1211792689022349315,2019-12-30 23:34:25+00:00,HireLive,We are #hiring Family Service Counselor in Irv...,"['hiring', 'jobs', 'Irvine']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...",United States,False,983,1251,"(0.0, 0.0)","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",NEGATIVE
5,1211792528388841473,2019-12-30 23:33:47+00:00,HireLive,We are #hiring Inside Sales Representative in ...,"['hiring', 'jobs', 'Irvine']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...",United States,False,983,1251,"(0.0, 0.0)","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",NEGATIVE

In [34]:
df_text_flair = pd.DataFrame(df['text_flair'])
df_text_flair.head()

  text_flair
1   NEGATIVE
2   POSITIVE
3   NEGATIVE
4   NEGATIVE
5   NEGATIVE

In [35]:
# Placing 'Text' and text_flair side by side
flair_analysis = df[['Text','text_flair']]
flair_analysis.head()

                                                Text text_flair
1  Hail in Phoenix - no way!  New opportunity at ...   NEGATIVE
2  Rackspace is hiring! We are looking for Nation...   POSITIVE
3  We are #hiring Administrative Assistant in Nan...   NEGATIVE
4  We are #hiring Family Service Counselor in Irv...   NEGATIVE
5  We are #hiring Inside Sales Representative in ...   NEGATIVE

Let's do sentiment analysis using Transformers.

In [45]:
# Applying Transformers
sentiment_model = pipeline('sentiment-analysis', model='nlptown/bert-base-multilingual-uncased-sentiment')
def analyze_sentiment(text):
    result = sentiment_model(text)
    return result[0]['label']

df['text_bert'] = df['Text'].apply(analyze_sentiment)
df.head()

WARNING:tensorflow:From c:\Users\Rasyiqah Rais\AppData\Local\Programs\Python\Python312\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,ID,Timestamp,User,Text,Hashtag,Retweets,Likes,Replies,Source,Location,Verified_Account,Followers,Following,text_blob,text_vader,text_flair,text_bert
1,1211797371853705220,2019-12-30 23:53:02+00:00,LorettaOD1,Hail in Phoenix - no way! New opportunity at ...,['job'],0,0,0,"<a href=""http://jobvite.com"" rel=""nofollow"">Jo...",Arizona,False,63,129,"(0.06818181818181818, 0.7272727272727273)","{'neg': 0.062, 'neu': 0.618, 'pos': 0.32, 'com...",NEGATIVE,1 star
2,1211795775363145728,2019-12-30 23:46:41+00:00,guajardo_celina,Rackspace is hiring! We are looking for Nation...,"['becomearacker', 'Rackspace', 'recruiting', '...",0,0,0,"<a href=""http://jobvite.com"" rel=""nofollow"">Jo...","Texas, USA",False,19,50,"(0.5, 0.5)","{'neg': 0.0, 'neu': 0.863, 'pos': 0.137, 'comp...",POSITIVE,5 stars
3,1211793355060981767,2019-12-30 23:37:04+00:00,SteveEckert_OTD,We are #hiring Administrative Assistant in Nan...,"['hiring', 'jobs', 'Nanuet']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...","Orange County, California",False,966,1569,"(0.0, 0.0)","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",NEGATIVE,5 stars
4,1211792689022349315,2019-12-30 23:34:25+00:00,HireLive,We are #hiring Family Service Counselor in Irv...,"['hiring', 'jobs', 'Irvine']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...",United States,False,983,1251,"(0.0, 0.0)","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",NEGATIVE,5 stars
5,1211792528388841473,2019-12-30 23:33:47+00:00,HireLive,We are #hiring Inside Sales Representative in ...,"['hiring', 'jobs', 'Irvine']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...",United States,False,983,1251,"(0.0, 0.0)","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",NEGATIVE,5 stars

In [46]:
df_text_bert = pd.DataFrame(df['text_bert'])
df_text_bert.head()

  text_bert
1    1 star
2   5 stars
3   5 stars
4   5 stars
5   5 stars

In [47]:
# Placing 'Text' and text_transformers side by side
bert_analysis = df[['Text','text_bert']]
bert_analysis.head()

                                                Text text_bert
1  Hail in Phoenix - no way!  New opportunity at ...    1 star
2  Rackspace is hiring! We are looking for Nation...   5 stars
3  We are #hiring Administrative Assistant in Nan...   5 stars
4  We are #hiring Family Service Counselor in Irv...   5 stars
5  We are #hiring Inside Sales Representative in ...   5 stars

Let's do sentiment analysis with DistilBERT

In [48]:
# Applying DistilBERT
classifier = pipeline("sentiment-analysis", model="distilbert-base-uncased", device=-1) 
df['text_distilbert'] = classifier(df['Text'].tolist(), truncation=True, max_length=512)
df['text_distilbert'] = df['text_distilbert'].apply(lambda x: x['label'])
df.head()

,ID,Timestamp,User,Text,Hashtag,Retweets,Likes,Replies,Source,Location,Verified_Account,Followers,Following,text_blob,text_vader,text_flair,text_bert,text_distilbert
1,1211797371853705220,2019-12-30 23:53:02+00:00,LorettaOD1,Hail in Phoenix - no way! New opportunity at ...,['job'],0,0,0,"<a href=""http://jobvite.com"" rel=""nofollow"">Jo...",Arizona,False,63,129,"(0.06818181818181818, 0.7272727272727273)","{'neg': 0.062, 'neu': 0.618, 'pos': 0.32, 'com...",NEGATIVE,1 star,LABEL_1
2,1211795775363145728,2019-12-30 23:46:41+00:00,guajardo_celina,Rackspace is hiring! We are looking for Nation...,"['becomearacker', 'Rackspace', 'recruiting', '...",0,0,0,"<a href=""http://jobvite.com"" rel=""nofollow"">Jo...","Texas, USA",False,19,50,"(0.5, 0.5)","{'neg': 0.0, 'neu': 0.863, 'pos': 0.137, 'comp...",POSITIVE,5 stars,LABEL_1
3,1211793355060981767,2019-12-30 23:37:04+00:00,SteveEckert_OTD,We are #hiring Administrative Assistant in Nan...,"['hiring', 'jobs', 'Nanuet']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...","Orange County, California",False,966,1569,"(0.0, 0.0)","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",NEGATIVE,5 stars,LABEL_1
4,1211792689022349315,2019-12-30 23:34:25+00:00,HireLive,We are #hiring Family Service Counselor in Irv...,"['hiring', 'jobs', 'Irvine']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...",United States,False,983,1251,"(0.0, 0.0)","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",NEGATIVE,5 stars,LABEL_1
5,1211792528388841473,2019-12-30 23:33:47+00:00,HireLive,We are #hiring Inside Sales Representative in ...,"['hiring', 'jobs', 'Irvine']",0,0,0,"<a href=""http://www.ziprecruiter.com"" rel=""nof...",United States,False,983,1251,"(0.0, 0.0)","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",NEGATIVE,5 stars,LABEL_1

In [49]:
df_text_distilbert = pd.DataFrame(df['text_distilbert'])
df_text_distilbert.head()

  text_distilbert
1         LABEL_1
2         LABEL_1
3         LABEL_1
4         LABEL_1
5         LABEL_1

In [50]:
# Placing 'Text' and text_distilbert side by side
distilbert_analysis = df[['Text','text_distilbert']]
distilbert_analysis.head()

                                                Text text_distilbert
1  Hail in Phoenix - no way!  New opportunity at ...         LABEL_1
2  Rackspace is hiring! We are looking for Nation...         LABEL_1
3  We are #hiring Administrative Assistant in Nan...         LABEL_1
4  We are #hiring Family Service Counselor in Irv...         LABEL_1
5  We are #hiring Inside Sales Representative in ...         LABEL_1